.header {

    font-family: Helvetica, sans-serif;
    padding: 60px;
    text-align: left;
    background: #171c22;
    color: #f9faf8;
    font-size: 30px;
  }

.img2 {
    
    border-radius: 12px;
    display:block;
    justify-self:center;
    max-width: 160px;
    max-height: 140px;
    padding: 4px;
    
    
  }

.image1 { align-self:right;
    display:block;
    justify-self:right;
    max-width:300px;
    max-height:300px;
    padding:4px;

}

.container { 
    
    
    display:flex;
    align-content: center;
    align-items:center;
    justify-content: center;
    justify-items: center;

    
}

.container-top {

    display:flex;
    align-content: left;
    align-items:left;
    
    

}


  