.header {
    font-family: Helvetica, sans-serif;
    padding: 20px;
    text-align: left;
    background: #171c22;
    color: #f9faf8;
    font-size: 30px;
}

.hero {
    display: flex;
    color: #f9faf8;
    background-color: #171c22;
    align-items:stretch;
    justify-content:space-between;
    padding: 40px;
}



.img2 {
    
    border-radius: 12px;
    display:block;
    justify-self:center;
    max-width: 160px;
    max-height: 140px;
    padding: 4px;
}



.container { 
    
    display:flex;
    align-content: center;
    align-items:center;
    justify-content: center;
    justify-items: center;

}
.hero-container-inner {
    display:flex;
    width:100%;


}
.hero-container {
    display:flex;
    margin:auto;
    width:100%;
    position: sticky;
    margin:0%;
    
}



.navbar-inner {
    width:100%;
    display:flex;
    
    
    
    

}
.lower {
    transform: translateY(0,-10px);
}


.hero-image {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.308)), url(./Images/header2.jpg);
    background-repeat: no-repeat;
    background-size: stretch;
    margin:0%;
    width: 100%;
    
    
    
}

.hero-text {
    text-align: left;
    left: 50%;
    width:30%;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    display:flex;
    flex-flow: row nowrap;
    padding:4px; 
    margin:0;
    position:sticky;
    justify-content: space-between;
    background: #312c41ea;
    font-family:Arial, Helvetica, sans-serif;
    

      
    
}
body {
    margin:0%;
    background: #ceb3ddbe;
}
.p2 { font-family: Helvetica, sans-serif;
    padding: 60px;
    text-align: left;
    background: #1c172265;
    color: #f9faf8;
    font-size: 18px;
    font-style:italic;
    width:100%;
}

.logo {
    display:flex;
    align-self:flex-start;
    flex-basis:20%;

    

}

#links {
    
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(94, 122, 36, 0.473);
    align-self:flex-end;
    margin-right:4px;
    

}
.clearfix::after {
    content: "#links, logo";
    clear: both;
    display: table;
    color:black;
  }


.button1 {
    background-color: #0881e400;
    color: white;
    cursor:pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    
    }

.p3 {
    font-family: Helvetica, sans-serif;
    padding: 60px;
    text-align: left;
    background: #323b6393;
    color: #f9faf8;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 12px;
}


.footer {
    font-family: Helvetica, sans-serif;
    padding: 30px;
    text-align: center;
    background:#312c41ea;
    color: #f9faf8;
    font-size: 12px;
    justify-content: center;
}

  



  